#calculator-container {
	margin: 100px auto;
	width: 360px;
	height: 540px;
	background-color: rgb(255, 115, 0);
	box-shadow: 5px 5px 15px gray;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
#display-container {
	height: 90px;
	width: 100%;
	background-color: rgb(39, 39, 39);
	text-align: center;
	font-size: 30px;
	color: white;
	border-top-left-radius: 15px;
	border-top: solid 5px rgb(66, 66, 66);
}
:focus {
	outline: none;
}
.square:hover {
	background-image: linear-gradient(rgb(238, 238, 238), rgb(189, 189, 189));
}
#equals:hover {
	background-image: linear-gradient(rgb(238, 238, 238), rgb(189, 189, 189));
}
#ghost {
	height: 30px;
	padding-top: 5px;
	opacity: .5;
	font-size: 25px;
	color: white;
}
.square {
	float: left;
	height: 90;
	width: 90;
	margin: 0px;
	padding: 0px;
	background-color: white;
	font-size: 18px;
	background-image: linear-gradient(rgb(238, 238, 238), rgb(201, 201, 201));
}
.square:active {
	opacity: .7;
}
#equals {
	float: right;
	height: 270px;
	width: 90;
	margin: 0px;
	padding: 0px;
	background-color: white;
	font-size: 28px;
	background-image: linear-gradient(rgb(238, 238, 238), rgb(201, 201, 201));
}
#equals:active {
	opacity: .7;
}
#active {
	opacity: .5;
}
img {
	border-bottom-right-radius: 15px;
}
.operater {
	opacity: .8;
}
