#calculator-container {
	margin: 100px auto;
	width: 360px;
	height: 540px;
	background-color: darkorange;
	box-shadow: 5px 5px 15px gray;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
#display-container {
	height: 90px;
	width: 100%;
	background-color: rgb(39, 39, 39);
	text-align: center;
	font-size: 30px;
	color: white;
	border-top-left-radius: 15px;
}
#ghost {
	height: 30px;
	padding-top: 5px;
	opacity: .5;
	font-size: 25px;
	color: white;
}
.square {
	float: left;
	height: 90;
	width: 90;
	margin: 0px;
	padding: 0px;
	background-color: white;
}
#equals {
	float: right;
	height: 270px;
	width: 90;
	margin: 0px;
	padding: 0px;
	background-color: white;
}
#active {
	opacity: .6;
}
img {
	border-bottom-right-radius: 15px;
}
.operater {
	opacity: .8;
}
